		h1{
			text-align: center;
			background-color:black;
			border-color: black;
                }
                table{
                    margin-left: auto;
                    margin-right: auto;
                    border-style: dotted;
                    background-color: white;
                    border-color: yellow;
                }
                .done{
                    color: black;
                    border-style: double;
                    background-color: white;
                }
                td{
                    border-style: double;
                    background-color: white;
                }
                tr{
                    border-style: double;
                    background-color: white;
                }
                th{
                    border-style: double;
                    background-color: white;
                }
                .linha{
                     text-align: center; 
                     font-size: 20px;
                     color: black;
                }
		p{
                        text-align: center;	
                        border-style:dotted;
			border-color:gold;
			background-color:yellow;
			margin-left:40px;
			margin-right:40px;
			margin-bottom:100px;
			font-family: sans-serif;
			
			padding: 20px;
		}
		h2{
			text-align: center;			
			border-style:outset;
			border-color:gold;
			background-color:00FF00;
			margin-left:100px;
			margin-right:100px;
		
			font-family: sans-serif;
		}
		body{
			margin-top:100px;
			margin-left:400px;
			margin-right:400px;
		
                        background-size: 1370px 800px;
			background-repeat: no-repeat;
                        background-image: url(index.jpg);
                }
		span{
			color: red;
			font-weight: bold;
		}
		div{
                        margin: auto;
			text-align: center;
			background-color: green;
			color: black;
		}
                label{
                    color: black;
                }
                nav{
                      text-align: center;
                      font-color: green;
                }